.monaco-tab-panel {
    position: absolute; 
    height: -webkit-fill-available; 
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.test-cases-tab-panel {
    position: absolute; 
    height: -webkit-fill-available; 
    width: -webkit-fill-available;
    overflow-y: scroll;
}

.editor {
    flex-grow: 1;
} 